<%- include ('layouts/header.ejs')-%>
    <div class="container">
    <h1><%= title %></h1>
    <p>Somos una comunidad que se ayuda mutuamente, vendiendo y comprando los articulos que se publican</p>
  </div>
  <%- include ('layouts/footer.ejs')-%>
  
